<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/js/register.js" defer></script>
    <link rel="stylesheet" href="/css/login.css" />
    <title>Register Account</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input id="id" type="text" placeholder="ID" autocomplete="off" />
          <input id="name" type="text" placeholder="Name" autocomplete="off" />
          <input
            id="pw"
            type="password"
            placeholder="PassWord"
            autocomplete="off"
          />
          <input
            id="confirm-pw"
            type="password"
            placeholder="ReEnter the PassWord"
            autocomplete="off"
          />
          <p id="button">SIGN UP</p>
          <p class="message">
            Already registered? <a href="/login">Go to Log-in</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
